* {
  color: #fff;
  font-family: sans-serif;
}

input {
  color: #000;
}

h1 {
  text-align: center;
  font-size: 55px;
}

img {
  width: 70%;
  border: 2px solid #ccc;
  border-radius: 12px;
}

p {
  color: yellow;
  margin: 0;
}
